.container-header{
	width: 500px;
	padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    color:black;
}
.container-header h2{
	background: #03b4e0;
	text-transform: uppercase;
	color: white;
	font-size: 18px;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 30px -30px;
}
.container-header input[type="text"],
.container-header input[type="number"],
.container-header input[type="time"],
.container-header textarea
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	height: 45px;
}
.container-header input[type="button"], 
.container-header input[type="submit"]{
	background-color: #0004ff;
	border: 1px solid #330c8d;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 14px;
	padding: 8px 18px;
}
.container-header input[type="button"]:hover {
	background-color:#ff0000;
}